<div class="container">
  <h2>Mis Vehículos</h2>


  <div *ngIf="!modoEdicion">
    <button (click)="nuevoVehiculo()" class="btn btn-primary mb-3">+ Nuevo Vehículo</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Transmisión</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehiculos">
          <td>{{ v.marca }}</td>
          <td>{{ v.modelo }}</td>
          <td>{{ v.transmision?.nombre }}</td>
          <td>{{ v.ubicacion?.nombre }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="seleccionarVehiculo(v)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarVehiculo(v.idVehiculo)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="modoEdicion">
    <h3>{{ vehiculoSeleccionado?.idVehiculo ? 'Editar Vehículo' : 'Nuevo Vehículo' }}</h3>

    <form (ngSubmit)="guardarVehiculo()">
      <div class="mb-3">
        <label>Marca</label>
        <input [(ngModel)]="vehiculoSeleccionado!.marca" name="marca" class="form-control" required />
      </div>

      <div class="mb-3">
        <label>Modelo</label>
        <input [(ngModel)]="vehiculoSeleccionado!.modelo" name="modelo" class="form-control" required />
      </div>
      <div class="mb-3">
        <label>Transmision</label>
        <select [(ngModel)]="vehiculoSeleccionado!.transmision" name="transmision" class="form-control" required>
        <option *ngFor="let t of transmisiones" [ngValue]="t">{{ t.nombre }}</option>
      </select>
      </div>

      <div class="mb-3">
        <label>Tipo de vehiculo</label>
        <select [(ngModel)]="vehiculoSeleccionado!.tipoVehiculo" name="tipoVehiculo" class="form-control" required>
        <option *ngFor="let t of tiposVehiculo" [ngValue]="t">{{ t.nombre }}</option>
      </select>
      </div>
      <div class="mb-3">
        <label>Ubicacion del vehiculo</label>
          <select [(ngModel)]="vehiculoSeleccionado!.ubicacion" name="ubicacion" class="form-control" required>
            <option *ngFor="let c of ciudades" [ngValue]="c">{{ c.nombre }}</option>
          </select>
      </div>

      <div class="mb-3">
        <label>Disponibilidad</label>
          <select [(ngModel)]="vehiculoSeleccionado!.disponibilidad" name="disponibilidad" class="form-control" required>
            <option *ngFor="let d of disponibilidades" [ngValue]="d">{{ d.nombre }}</option>
          </select>
      </div>
<div class="mb-3">
  <label>Especificación</label>
  <textarea
    [(ngModel)]="vehiculoSeleccionado!.especificacion"
    name="especificacion"
    class="form-control"
    placeholder="Ej: Sedan, color gris, 4 puertas, aire acondicionado..."
    required
  ></textarea>
</div>


      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </form>
  </div>
</div>
